html {
    font-size: .9em;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 85%;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#tab-ancients {
    overflow-x: auto;
}


#input {
    width: 100%;
    display: inline-block;
}

.panel-heading-left {
    text-align: left;
}

.panel-heading-right {
    text-align: right;
}

.panel-settings {
    margin-top: 1em;
}

#output {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#input textarea,
#generatedsavedatacontainer textarea {
    width: 100%;
    resize: vertical;
    margin: .5em 0;
}

.odd_row {
    background-color: #f9f9f9;
}

.col_change {
    font-weight: bold;
}

#ancienttbl {
    table-layout: fixed;
    width: 100%;
    min-width: 450px;
}

#ancienttbl td, #ancienttbl th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ancienttbl .col1 {
    width: 18%;
}

#ancienttbl .col2, .col3, .col5 {
    width: 19%;
}

#ancienttbl .col4 {
    width: 25%;
}



#about .tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 4px 4px;
    padding: 15px;
}

.as-planner {
    max-height: 350px;
    overflow-y: auto;
}

/*.as-planner table .col1 {*/
    /*width: 25%;*/
/*}*/

/*.as-planner table .col2, .as-planner table .col3 {*/
    /*width: 37.5%;*/
/*}*/

div.slider-tick {
    display: none;
}

header {
    display: table;
    width: 100%;
    font-size: 125%;
}

header > span {
    display: table-cell;
    width: 50%;
}

.wrapper #input input[type=radio] {
    margin-left:1.5em;
}


/* TODO: Clean these up, make sure nothing is used unnecessarily and sort */
/**
 * Media Queries
 */

/**
 * See http://getbootstrap.com/css/#grid
 */

/* Large */
@media (min-width: 1200px) {
    .wrapper {
        max-width: 1200px !important;
    }
}

/* Medium */
@media (min-width: 992px) {
    body {
        font-size: 100%;
        letter-spacing: 0;
    }

    .wrapper {
        max-width: 992px;
    }

    .io:first-child {
        padding-right: .125em;
    }

    .io:last-child {
        padding-left: .125em;
    }
}

@media (min-width: 768px){
    #input textarea,
    #generatedsavedatacontainer textarea {
        width: 100%;
        resize: vertical;
        margin: 0;
        min-height: 0 !important;
    }
}

.wrapper.container {
        width: 100%;
}

    #ancienttbl td {
        vertical-align: middle;
        height: 100%;
    }

    #ancienttbl td input[type=text] {
        width: 92.5%;
        zoom: 1;
        margin: .625em 0;
    }

    #input input {
        margin: .25em 0;
    }

    .io {
        padding: auto;
    }

    .wrapper label {
        line-height: 2;
        vertical-align: middle;
    }

    .wrapper input, .wrapper a.btn[data-toggle="collapse"], .wrapper button {
        zoom: 1.15;
    }

    #input textarea,
    #generatedsavedatacontainer textarea {
        min-height: 75px;
    }