html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-size: 1.5em;
}

.wrapper {
    width: 1004px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}


#input {
    width: 500px; 
    display: inline-block;
}

#output { 
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.odd_row {
    background-color: #f9f9f9;
}

.col_change {
    font-weight: bold;
}

#ancienttbl {
    table-layout: fixed;
}

#ancienttbl td, #ancienttbl th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ancienttbl .col1 {
    width: 18%;
}

#ancienttbl .col2, .col3 {
    width: 20%;
}

table input[type=text] {
    width: 100%;
    padding: 0px;
}

#about .tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 4px 4px;
    padding: 15px;
}