$small: 768px; $medium: 992px; $large: 1200px; $maxwidth: 1280px;

html {
    font-size: 1rem; @extend body;
}

body {
    margin: 0; padding: 0;
}

/* Table Reset */

table {
    display: table;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tr {
    display: table-row;
}

th, td {
    display: table-cell;
}

/* Wrapper */

.wrapper {
    width: 100%;
    max-width: $maxwidth;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    label {
        line-height: 2; vertical-align: middle;
    }
}

/* io-panel */

.io-panel > div {
    padding: auto;
}

/* about-panel */

#about .tab-pane {
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 4px 4px;
}

/* panel-body */

.panel-body .panel-settings {
    margin-top: 1rem;
}

/* header elements (for panels) */

header {
    display: table;
    width: 100%;
    
    a.btn[data-toggle="collapse"] {
        display: inline; line-height: 2;
    }

    > span {
        display: table-cell; width: 50%;
    }

    .panel-heading-left {
        text-align: left;
    }
    .panel-heading-right {
        text-align: right;
    }
}

/* input portion of io-panel */
#input {
    width: 100%;
    display: inline-block;
    
    input {
        margin: .25rem 0;
    }
    input[type=radio] {
        margin-left: 1.5rem; 
    }
}

#input textarea, #generatedsavedatacontainer textarea {
    width: 100%;
    resize: vertical;
    margin: .5rem 0;
    min-height: 75px;
}

div.slider-tick {
    display: none;
}

/* output portion of io-panel */
#output {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#ancienttbl {
    table-layout: fixed;
    width: 100%;
  
    td {
        vertical-align: middle;
        
        input[type=text] {
            width: 90%;
        }
    }

    th, td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col1 {
        width: 18%;
    }

    .col2, .col3, .col5 {
        width: 19%;
    }

    .col4 {
        width: 25%;
    }
}

.as-planner {
    max-height: 350px;
    overflow-y: auto;
    
    table {
        .col1 {
            width: 25%;
        }
        .col2, .col3 {
            width: 37.5%;
        }
    }
}

/* table styles */

.odd_row {
    background-color: #f9f9f9;
}

.col_change {
    font-weight: bold;
}

/* Media Styles */

/* Medium+ */
@media (min-width: $medium) {
    .wrapper {
        .io:first-child {
            padding-right: .125rem;
        }
        .io:last-child {
            padding-left: .125rem;
        }
    }

    .panel-body {
        display: block;
        // make sure that height isn't being limited by collapse
        // found that if the panel body is collapsed, then the width of the viewport is increased to medium or higher
        // the panel body stays hidden, and if only displayed will be of the wrong height.
        height: auto !important;
    }
}

/* Small- */
@media (max-width: ($small - 1)) {

    #ancienttbl {
        table, th, thead, tbody, td, tr {
            display: block;
        }

        thead {
            tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        tr {
            border: 1px solid #ccc;
        }
        
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            min-height: 2.25rem;
            width: 100% !important;
          
            input {
                line-height: .925;
            }
            
            &::before {
                position: absolute;
                top: 0;
                left: .375rem;
                line-height: 1;
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;
                padding-right: 0.625rem;
                white-space: nowrap;
                font-weight: bold;
                vertical-align: middle;
                width: 45%;
            }
        }

        @for $i from 1 through 5 {
            td:nth-of-type(#{$i})::before {
                @if ($i == 1) {
                    content: "Ancient";
                }
                @else if ($i == 2) {
                    content: "Current";
                }
                @else if ($i == 3) {
                    content: "Goal";
                }
                @else if ($i == 4) {
                    content: "Change";
                }
                @else if ($i == 5) {
                    content: "Cost(HS)";
                }
            }
        }
    }
}
